@font-face {
    font-family: Inter;
    src: url('https://fonts.googleapis.com/css?family=Inter');
}

body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: Inter, sans-serif;
    background-color: #DEDEDE;
}
textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    resize: none;
}

button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    border-color: black;
}

select {
    border: none;
    width: auto;
    background-color: transparent;
}

.header-container{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #17A97F;
}
.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 80%;
    color: white;
    font-size: 15px;

.header img {
    width: 10vw;
    max-width: 400px;
    min-width: 130px;
}

.header_title {
    padding: 0% 3%;
    font-weight: 300;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: #17A97F;
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 15px;
    user-select: none;
}

.translator-container {
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 100%;

    margin-top: 15vh;
    margin-bottom: 5%;

    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.language-select-container {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items:center;
    
    justify-content:center;
    padding: 20px;
}
.language-select-left
{
    flex-grow: 2;
    width: -webkit-fill-available;
}
.language-select-center{
    flex-grow: 1;
    width: auto;
}
.language-select-right {
    display: flex;
    flex-grow: 2;
    width: -webkit-fill-available;
    justify-content:end;
}

.language-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    margin-bottom: 15px;
    border-radius: 0 34px 0 15px;
    padding: 0px;
}

.source-input-left-container{
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items:end;
    width: 100%;
    height: 100%;
    border: 1px solid #DEDEDE;
    border-color: #DEDEDE #DEDEDE #DEDEDE white;
    outline: none;
}
.source-input-left-container:focus-within{
    border-color: black;
    outline: none;
}
.input-container{
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
}
.source-input-delete-btn{
    display: none;
    align-self: flex-start;
    border: none;
}
.limit-label{
    display: none;
    padding: 10px;
}

.source-output-right-container {
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 100%;
    border: 1px solid #DEDEDE;
    border-color: #DEDEDE white #DEDEDE #DEDEDE;
    outline: none;
}
.source-output-right-container:focus-within {
    border-color: black;
    outline: none;
}
.output-container {
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
}
.output-copy-btn{
    display: none;
    padding-right: 20px;
    align-items: flex-end;
    border: none;
}

.translate_btn{
    display: none;
    align-self: center;
    border: none;
}
.translate_btn:hover{
    background-color: #0d5c46;
    border: none;
}

.loader {
    display: none;
    align-self: center;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header_title {
        display: none;
        visibility: hidden;
    }
    .header img {
        width: 200px;
    }

    .translator-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80%;
        margin-top: 10vh;
        margin-bottom: 5%;
        background-color: white;
        border-radius: 15px;
    }
    .language-input {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .translate_btn {
        display: block;
        box-sizing: border-box;
        width: 60%;
        padding: 10px;
        margin: 10px;
        background-color: #17A97F;
        color: white;
        font-size: 20px;
    }
    select {
        width: -webkit-fill-available;
    }
    .source-input-left-container {
        border-color: #DEDEDE white #DEDEDE white;
    }

    .source-input-right-container {
        border-color: white white #DEDEDE white;
    }
    .footer {
        font-size: 10px;
    }   
}